/*
 * @Author: ShenBao shenbaoone@gmail.com 
 * @Date: 2018-07-17 21:48:13 
 * @Last Modified by: ShenBao shenbaoone@gmail.com 
 * @Last Modified time: 2018-07-17 21:48:13 
*/

.authorize {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column; // justify-content: center;
    .no-auth-img {
        margin-top: 120rpx;
        image {
            display: block;
            margin: 0 auto;
            width: 210rpx;
            height: 210rpx;
        }
    }
    .text {
        text-align: center;
        font-size: 34rpx;
        color: #666666;
        padding-top: 30rpx;
        padding-bottom: 90rpx;
    }
    .btn {
        width: 670rpx;
        height: 94rpx;
        border: 0;
        background: #3971FF;
        color: #FFF;
        text-align: center;
        line-height: 94rpx;
    }
}